@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f8fafc;
    --foreground: 221.5 15% 25%;

    --muted: #e5e7eb;
    --muted-foreground: 215 10% 40%;

    --popover: #ffffff;
    --popover-foreground: 221.5 15% 25%;

    --card: #f3f4f6;
    --card-foreground: 221.5 15% 25%;

    --border: #d1d5db;
    --input: #e5e7eb;
    --sidebar: #edf2f7;

    --primary: #7c3aed;
    --primary-foreground: #ffffff;

    --secondary: #e2e8f0;
    --secondary-foreground: 221.5 15% 25%;

    --accent: #2563eb;
    --accent-foreground: #ffffff;

    --destructive: #ef4444;
    --destructive-foreground: #ffffff;

    --ring: #93c5fd;

    --radius: 0.5rem;
  }
  html.dark {
    --background: #0b1120;
    --foreground: 221.5 30.2% 91.6%;

    --muted: #202937;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 0 0% 55.3%;
    --popover-foreground: 221.5 30.2% 91.6%;

    --card: #0e172a;
    --card-foreground: 221.5 30.2% 91.6%;

    --border: #202937;
    --input: #202937;
    --sidebar: #0e172a;

    --primary: #a252c8;
    --primary-foreground: #f5f5f5;

    --secondary: #202937;
    --secondary-foreground: 221.5 30.2% 91.6%;

    --accent: 221.5 30.2% 91.6%;
    --accent-foreground: 221.5 30.2% 91.6%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 221.5 30.2% 91.6%;

    --ring: #202937;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground text-sm;
    font-family: "Lato", sans-serif;
  }
}

.svg-icon {
  fill: var(--icon-fill);
}

.circle-1, .circle-2, .circle-3 {
  fill: var(--circle-fill);
}

:root {
  --icon-fill: #fff;
  --circle-fill: #000;
}

html.dark {
  --icon-fill: #000;
  --circle-fill: #fff;
}
